:root {
    --primary-blue: "#00B2E3";
}


$primary-blue: #00B2E3;
$btn-blue: #013369;
$dark: #212121;

body {
    --primary-blue: #00B2E3;
    --btn-blue: #013369;
    --dark: #212121;
    --input-border-color: #b0bec5;
    --input-padding: .75rem .875rem;
    --input-border-radius: 4px;
    --input-border-width: .063rem;
    --input-width: max(60%, 240px);
    min-width: 300px;
}

.header img {
    max-height: 100px;
    max-width: 100px;
}

h1 {
    font-weight: 300;
}

h1 strong {
    color: var(--primary-blue);
    padding-right: 3px;
}

.header {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.form {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 100%;
    padding: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: var(--input-padding);
    border-radius: var(--input-border-radius);
    outline: 0;
    color: var(--dark);
    font-size: .875rem;
    width: var(--input-width);
    border: var(--input-border-width) solid var(--input-border-color);
}

input[type="button"] {
    padding: var(--input-padding);
    margin: .5rem 0 0;
    outline: 0;
    border: 0;
    background: var(--btn-blue);
    color: white;
    font-weight: 700;
    border-radius: var(--input-border-radius);
    color: #FFF;
    font-weight: 700;
    font-size: .875rem;
    letter-spacing: .25px;
    transition: background .3s ease;
    width: var(--input-width);
}

input[type="button"]:hover {
    background: lighten($btn-blue, 25%);
}

label {
    display: block;
    margin: 0 0 .5rem;
    font-weight: 700;
    letter-spacing: .2px;
    font-size: .875rem;
    color: var(--dark);
    width: var(--input-width);
    justify-self: left;
    padding-left: 20%;
}

.notifications {
    display: grid;
    justify-content: center;
}

.notifications p {
    font-size: 1.25rem;
    font-weight: 600;
}